
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.edit-student--Ftw {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;

  .auto-group-gtnj-17R {
    height: 102.5rem;
    background-position: center;
    flex-shrink: 0;
    padding: 3.5rem 1.6rem 5rem 1.6rem;
    width: 32.1rem;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('REPLACE_IMAGE:267:6281');
    box-sizing: border-box;
    align-items: center;

    .educare-3-6-5d5 {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 3.949rem 7.6rem 0rem;
      width: 17.551rem;
      height: 5rem;
      object-fit: cover;
    }
    .frame-198-nnP {
      margin-bottom: 1.6rem;
      padding: 1.2rem 12.5rem 0.6rem 2rem;
      position: relative;
      display: flex;
      border: solid 0.1rem rgba(255, 245, 245, 0.1000000015);
      box-sizing: border-box;
      width: 100%;
      overflow: hidden;
      align-items: center;
      border-radius: 1rem;
      flex-shrink: 0;

      .group-77-JVq {
        flex-shrink: 0;
        margin: 0.1rem 1.4rem 0rem 0rem;
        width: 2.6rem;
        height: 2.6rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 1.2rem;
      }
      .dashboard-RKZ {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.2rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
      }
    }
    .frame-199-JeF {
      box-sizing: border-box;
      padding: 1.2rem 15rem 0.7rem 2rem;
      width: 100%;
      height: 4.5rem;
      overflow: hidden;
      position: relative;
      display: flex;
      margin-bottom: 1.6rem;
      border: solid 0.1rem rgba(255, 255, 255, 0.1000000015);
      background-color: #ffffff;
      border-radius: 1rem;
      flex-shrink: 0;
      align-items: center;

      .group-78-dAj {
        width: 2.6rem;
        height: 100%;
        border-radius: 1.2rem;
        flex-shrink: 0;
        margin-right: 1.4rem;

        .frame-209-yEb {
          padding: 0.1rem 0.204rem 0.1rem 0.2rem;
          width: 100%;
          height: 100%;
          overflow: hidden;
          position: relative;
          background-color: #ffffff;
          border-radius: 1.2rem;
          box-sizing: border-box;

          .graduated3135773-1-Vij {
            vertical-align: top;
            width: 2.1965rem;
            height: 2.4rem;
            object-fit: cover;
          }
        }
      }
      .student-bWs {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.1rem;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.2125;
      }
    }
    .frame-200-Heb {
      overflow: hidden;
      border: solid 0.1rem rgba(255, 245, 245, 0.1000000015);
      margin-bottom: 1.6rem;
      padding: 1.2rem 15.2rem 0.7rem 2rem;
      height: 4.5rem;
      position: relative;
      display: flex;
      align-items: center;
      border-radius: 1rem;
      flex-shrink: 0;
      box-sizing: border-box;
      width: 100%;

      .group-79-CmZ {
        flex-shrink: 0;
        margin-right: 1.4rem;
        width: 2.6rem;
        height: 100%;
        border-radius: 1.2rem;

        .frame-210-Lsm {
          border-radius: 1.2rem;
          box-sizing: border-box;
          padding: 0.1rem 0.204rem 0.1rem 0.2rem;
          width: 100%;
          height: 100%;
          overflow: hidden;
          position: relative;
          background-color: #ffffff;

          .teacher10455354-1-Uyy {
            vertical-align: top;
            width: 2.1965rem;
            height: 2.4rem;
            object-fit: cover;
          }
        }
      }
      .teacher-zxK {
        margin-bottom: 0.1rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .frame-228-WQs {
      border: solid 0.1rem rgba(255, 245, 245, 0.1000000015);
      border-radius: 1rem;
      margin-bottom: 2.2rem;
      overflow: hidden;
      display: flex;
      position: relative;
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.1rem 15.7rem 1rem 2rem;
      width: 100%;

      .group-83-2u1 {
        margin: 0rem 1.4rem 0.1rem 0rem;
        width: 2.6rem;
        height: 2.6rem;
        border-radius: 1.2rem;
        flex-shrink: 0;

        .frame-216-NCB {
          background-color: #ffffff;
          border-radius: 1.2rem;
          box-sizing: border-box;
          padding: 0.3rem;
          width: 100%;
          height: 100%;
          overflow: hidden;
          position: relative;

          .people11405357-1-imq {
            width: 2rem;
            height: 2rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
      }
      .parents-qLf {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.2rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
      }
    }
    .frame-201-ivF {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      padding: 1.1rem 14.1rem 0.8rem 2rem;
      overflow: hidden;
      position: relative;
      border-radius: 1rem;
      flex-shrink: 0;
      box-sizing: border-box;
      width: 100%;
      height: 4.5rem;
      border: solid 0.1rem rgba(255, 245, 245, 0.1000000015);

      .group-80-qjy {
        width: 2.6rem;
        height: 100%;
        border-radius: 1.2rem;
        flex-shrink: 0;
        margin-right: 1.4rem;

        .frame-211-PmV {
          border-radius: 1.2rem;
          box-sizing: border-box;
          padding: 0.5rem 0.284rem 0.581rem 0.3rem;
          width: 100%;
          height: 100%;
          overflow: hidden;
          position: relative;
          background-color: #ffffff;

          .schedule4664339-2-w2K {
            width: 2.0155rem;
            height: 1.5191rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
      }
      .schedule-eSX {
        flex-shrink: 0;
        margin-top: 0.1rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .frame-202-Y27 {
      margin-bottom: 1.6rem;
      box-sizing: border-box;
      position: relative;
      display: flex;
      align-items: center;
      border: solid 0.1rem rgba(255, 245, 245, 0.1000000015);
      border-radius: 1rem;
      padding: 1.1rem 15.5rem 0.8rem 2rem;
      width: 100%;
      height: 4.5rem;
      overflow: hidden;
      flex-shrink: 0;

      .frame-212-FSK {
        border-radius: 1.2rem;
        margin-right: 1.4rem;
        box-sizing: border-box;
        overflow: hidden;
        background-color: #ffffff;
        padding: 0.1rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .classroom1145273-2-zeo {
          height: 2.4rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1.2rem;
          width: 2.4rem;
        }
      }
      .classes-hp7 {
        flex-shrink: 0;
        margin-top: 0.1rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .frame-203-QyR {
      height: 4.5rem;
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: center;
      border: solid 0.1rem rgba(255, 245, 245, 0.1000000015);
      border-radius: 1rem;
      margin-bottom: 1.6rem;
      box-sizing: border-box;
      padding: 1.1rem 6.3rem 0.8rem 2rem;
      width: 100%;
      flex-shrink: 0;

      .frame-213-7sq {
        padding: 0.1rem;
        height: 100%;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;
        margin-right: 1.4rem;
        box-sizing: border-box;
        background-color: #ffffff;
        border-radius: 1.2rem;

        .data-science8329337-2-UCb {
          width: 2.4rem;
          height: 2.4rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 1.2rem;
        }
      }
      .scientific-content-yv3 {
        flex-shrink: 0;
        margin-top: 0.1rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .frame-204-UM1 {
      flex-shrink: 0;
      box-sizing: border-box;
      width: 100%;
      height: 4.5rem;
      overflow: hidden;
      align-items: center;
      border-radius: 1rem;
      margin-bottom: 1.6rem;
      padding: 1.1rem 15.4rem 0.8rem 2rem;
      position: relative;
      display: flex;
      border: solid 0.1rem rgba(255, 245, 245, 0.1000000015);

      .group-81-bAj {
        height: 100%;
        border-radius: 1.2rem;
        flex-shrink: 0;
        margin-right: 1.4rem;
        width: 2.6rem;

        .frame-214-8wM {
          height: 100%;
          overflow: hidden;
          position: relative;
          background-color: #ffffff;
          border-radius: 1.2rem;
          box-sizing: border-box;
          padding: 0.3rem 0.311rem 0.3rem 0.4rem;
          width: 100%;

          .report2912773-2-stw {
            width: 1.8889rem;
            height: 2rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
      }
      .reports-Bud {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.1rem;
      }
    }
    .frame-205-hNB {
      overflow: hidden;
      display: flex;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 1.1rem 18.7rem 0.8rem 2rem;
      width: 100%;
      height: 4.5rem;
      position: relative;
      align-items: center;
      border: solid 0.1rem rgba(255, 245, 245, 0.1000000015);
      border-radius: 1rem;
      margin-bottom: 1.6rem;

      .group-82-cEF {
        margin-right: 1.4rem;
        width: 2.6rem;
        height: 100%;
        border-radius: 1.2rem;
        flex-shrink: 0;

        .frame-215-m79 {
          box-sizing: border-box;
          padding: 0.3rem;
          width: 100%;
          height: 100%;
          overflow: hidden;
          position: relative;
          background-color: #ffffff;
          border-radius: 1.2rem;

          .chat589708-2-WqR {
            width: 2rem;
            height: 2rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
      }
      .chat-34f {
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.1rem;
        font-size: 2rem;
        font-weight: 400;
      }
    }
    .frame-206-9tP {
      padding: 1.1rem 16rem 0.7rem 2rem;
      width: 100%;
      position: relative;
      display: flex;
      flex-shrink: 0;
      margin-bottom: 14.1rem;
      box-sizing: border-box;
      border: solid 0.1rem rgba(255, 245, 245, 0.1000000015);
      border-radius: 1rem;
      overflow: hidden;
      align-items: center;

      .group-83-VBZ {
        border-radius: 1.2rem;
        flex-shrink: 0;
        margin: 0rem 1.4rem 0.1rem 0rem;
        width: 2.6rem;
        height: 2.6rem;

        .frame-216-RL7 {
          background-color: #ffffff;
          border-radius: 1.2rem;
          box-sizing: border-box;
          padding: 0.3rem;
          width: 100%;
          height: 100%;
          overflow: hidden;
          position: relative;

          .resolution12991590-2-Vas {
            height: 2rem;
            object-fit: cover;
            vertical-align: top;
            width: 2rem;
          }
        }
      }
      .tickets-p7M {
        flex-shrink: 0;
        margin-top: 0.2rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .group-92-iiX {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 16.7rem 1.6rem 0rem;
      width: calc(100% - 16.7rem);
      display: flex;

      .group-89-eMH {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.7rem;
        width: 2.4rem;
        height: 2.4rem;
      }
      .settings-yuM {
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.5;
      }
    }
    .group-93-haT {
      margin-right: 18.1rem;
      width: calc(100% - 18.1rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .group-88-3eK {
        width: 2.4rem;
        height: 2.4rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.6rem;
      }
      .logout-z3m {
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-sa1r-his {
    width: 122rem;
    flex-shrink: 0;

    .nav-bar-SgT {
      margin-bottom: 2.6rem;
      width: 100%;
      height: 11.5rem;
      display: flex;
      align-items: center;

      .auto-group-chvd-BP9 {
        margin-right: 3.4rem;
        width: 27.3rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-25-83V {
          width: 9.7rem;
          height: 11.5rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: #ffffff;
        }
        .frame-105-Fto {
          height: 2.5rem;
          position: absolute;
          left: 2.6rem;
          top: 4.1rem;
          overflow: hidden;
          display: flex;
          align-items: flex-start;
          width: 24.7rem;

          .home-PVD {
            margin: 0.1rem 2.6rem 0rem 0rem;
            font-weight: 500;
            flex-shrink: 0;
            color: #6f6f6f;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            text-align: center;
            font-size: 1.6rem;
            line-height: 1.5;
          }
          .download-twm {
            line-height: 1.5;
            color: #6f6f6f;
            font-family: Poppins, 'Source Sans Pro';
            text-align: center;
            font-weight: 500;
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 2.4rem;
            font-size: 1.6rem;
          }
          .support-d8f {
            font-size: 1.6rem;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            display: flex;
            text-align: center;
            font-weight: 500;
            white-space: nowrap;
            align-items: baseline;
            flex-shrink: 0;

            .support-d8f-sub-0 {
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.5;
              color: #6f6f6f;
              font-family: Poppins, 'Source Sans Pro';
            }
            .support-d8f-sub-1 {
            }
          }
        }
      }
      .auto-group-qaj7-y63 {
        width: 91.3rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .rectangle-24-6wM {
          width: 62.3rem;
          height: 11.5rem;
          position: absolute;
          left: 29rem;
          top: 0;
          background-color: #7372e0;
        }
        .f256246709l6nkjlbhk0mnw2axc2tlysvmviehezqq-1-FJT {
          height: 5rem;
          position: absolute;
          left: 74.1rem;
          top: 2.6rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 8.2rem;
          width: 5rem;
        }
        .rectangle-100-wwy {
          left: 0;
          background-color: #f5f5f5;
          width: 65.1rem;
          position: absolute;
          border: solid 0.1rem #dbdbdb;
          box-sizing: border-box;
          border-radius: 1.3rem;
          height: 4.7rem;
          top: 2.9rem;
        }
        .loupe751463-1-GDZ {
          height: 2.4rem;
          position: absolute;
          left: 1.1rem;
          top: 4rem;
          object-fit: cover;
          vertical-align: top;
          width: 2.4rem;
        }
        .search-for-students-teachers-documents-Poy {
          position: absolute;
          left: 4.9rem;
          top: 4.3rem;
          font-size: 1.6rem;
          white-space: nowrap;
          width: 32.1rem;
          height: 2rem;
          font-weight: 600;
          line-height: 1.2125;
          color: #9ca3af;
          font-family: Inter, 'Source Sans Pro';
        }
        .notification-sj9 {
          width: 2.8rem;
          height: 2.8rem;
          position: absolute;
          left: 69.2rem;
          top: 4.4rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
    .auto-group-5nv7-oco {
      position: relative;
      background-color: #e3e3f9;
      border-radius: 2rem;
      margin-left: 1.3rem;
      width: 108.1rem;
      height: 86.7rem;

      .auto-group-ncmz-vSX {
        position: absolute;
        left: 6.3rem;
        top: 1.7rem;
        display: flex;
        align-items: center;
        width: 96.2rem;
        height: 3rem;

        .edit-student-eNX {
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 73.1rem;
          font-size: 2.4rem;
          font-weight: 700;
        }
        .group-7100-BNT {
          align-items: center;
          flex-shrink: 0;
          height: 100%;
          display: flex;

          .vuesax-linear-arrow-left-vqq {
            margin: 0.2rem 0.6rem 0rem 0rem;
            width: 2.4rem;
            height: 2.4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .back-SpB {
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
        }
      }
      .auto-group-e2jd-nNF {
        top: 64.9rem;
        display: flex;
        align-items: center;
        width: 80.9rem;
        height: 20.8rem;
        position: absolute;
        left: 3.7rem;

        .auto-group-7py5-Wp3 {
          height: 100%;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-right: 17.2rem;

          .auto-group-97kf-44s {
            flex-shrink: 0;
            margin-right: 0.8rem;
            width: 41rem;

            .address-CRy {
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              text-align: center;
              font-size: 1.6rem;
              font-weight: 500;
              white-space: nowrap;
              margin-bottom: 0.8rem;
              width: 100%;
              line-height: 1.5;
            }
            .rectangle-105-jB1 {
              width: 100%;
              height: 4.8rem;
              border: solid 0.1rem #dbdbdb;
              box-sizing: border-box;
              background-color: #fafafa;
              border-radius: 1rem;
              margin-bottom: 3.6rem;
            }
            .group-49-T71 {
              line-height: 1.5;
              display: flex;
              background-color: #2e3192;
              font-weight: 400;
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
              margin: 0rem 1.8rem 0rem 1.6rem;
              height: 5.8rem;
              text-align: center;
              font-size: 2rem;
              white-space: nowrap;
              align-items: center;
              border-radius: 2rem;
              width: calc(100% - 3.4rem);
              justify-content: center;
            }
          }
          .group-7097-hn3 {
            box-sizing: border-box;
            text-align: center;
            font-weight: 500;
            background-color: #2e3192;
            flex-shrink: 0;
            height: 2.1rem;
            margin-top: 4.6rem;
            font-size: 1.3rem;
            line-height: 1.5;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            border-radius: 1.05rem;
            padding: 0 1.6rem;
            color: #ffffff;
          }
        }
        .group-7127-mG7 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          width: 16.3rem;
          height: 100%;
          row-gap: 0.8rem;
          align-items: center;

          .image-6ZH {
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
          }
          .group-7101-qWs {
            box-sizing: border-box;
            padding: 0.4rem 1.1rem 0.4rem 1.2rem;
            width: 100%;
            border: solid 0.1rem #9ca3af;
            background-color: #fafafa;
            border-radius: 1rem;
            flex-shrink: 0;

            .f256246709l6nkjlbhk0mnw2axc2tlysvmviehezqq-2-Zxf {
              width: 14rem;
              height: 12rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 10rem;
            }
          }
          .group-7124-T2T {
            width: calc(100% - 2.3rem);
            height: 4rem;
            border-radius: 0.8rem;
            flex-shrink: 0;
            margin: 0rem 1.091rem 0rem 1.209rem;

            .group-7100-Nv7 {
              background-color: #2e3192;
              border-radius: 0.8rem;
              line-height: 1.2125;
              font-family: Inter, 'Source Sans Pro';
              align-items: center;
              justify-content: center;
              text-align: center;
              font-weight: 400;
              white-space: nowrap;
              width: 100%;
              height: 100%;
              display: flex;
              font-size: 1.4rem;
              color: #ffffff;
            }
          }
        }
      }
      .auto-group-pzjq-YCK {
        position: absolute;
        left: 3.7rem;
        top: 24.1rem;
        display: flex;
        align-items: center;
        width: 99.4rem;
        height: 4.8rem;

        .rectangle-31-3es {
          border-radius: 1rem;
          flex-shrink: 0;
          margin-right: 0.8rem;
          width: 41rem;
          height: 4.8rem;
          border: solid 0.1rem #dbdbdb;
          box-sizing: border-box;
          background-color: #fafafa;
        }
        .group-98-Zt7 {
          margin: 1.3rem 4.6rem 1.4rem 0rem;
          padding: 0 1.6rem;
          font-size: 1.3rem;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          background-color: #2e3192;
          box-sizing: border-box;
          white-space: nowrap;
          flex-shrink: 0;
          height: calc(100% - 2.7rem);
          text-align: center;
          font-weight: 500;
          color: #ffffff;
          border-radius: 1.05rem;
        }
        .group-7084-Qtj {
          font-family: Poppins, 'Source Sans Pro';
          text-align: center;
          line-height: 1.5;
          box-sizing: border-box;
          padding: 1.2rem 2.3rem;
          font-size: 1.6rem;
          font-weight: 500;
          color: #000000;
          white-space: nowrap;
          background-color: #fafafa;
          border-radius: 1rem;
          margin-right: 0.8rem;
          width: 41rem;
          flex-shrink: 0;
          height: 100%;
          border: solid 0.1rem #dbdbdb;
        }
        .group-7092-FPZ {
          font-weight: 500;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          padding: 0 1.6rem;
          height: calc(100% - 2.7rem);
          text-align: center;
          white-space: nowrap;
          margin: 1.2rem 0rem 1.5rem 0rem;
          box-sizing: border-box;
          font-size: 1.3rem;
          line-height: 1.5;
          background-color: #2e3192;
          border-radius: 1.05rem;
        }
      }
      .auto-group-9qqm-6uy {
        align-items: center;
        width: 99.5rem;
        height: 4.8rem;
        position: absolute;
        left: 3.7rem;
        top: 32.9rem;
        display: flex;

        .rectangle-32-Dzb {
          box-sizing: border-box;
          background-color: rgba(250, 250, 250, 0.9300000072);
          border-radius: 1rem;
          flex-shrink: 0;
          margin-right: 0.8rem;
          width: 41rem;
          height: 4.8rem;
          border: solid 0.1rem rgba(219, 219, 219, 0.9300000072);
        }
        .group-7088-w9u {
          padding: 0 1.6rem;
          text-align: center;
          font-weight: 500;
          white-space: nowrap;
          border-radius: 1.05rem;
          margin: 1.4rem 4.7rem 1.3rem 0rem;
          font-size: 1.3rem;
          height: calc(100% - 2.7rem);
          font-family: Poppins, 'Source Sans Pro';
          box-sizing: border-box;
          line-height: 1.5;
          color: #ffffff;
          background-color: #2e3192;
          flex-shrink: 0;
        }
        .rectangle-102-nwD {
          border-radius: 1rem;
          flex-shrink: 0;
          margin-right: 0.8rem;
          width: 41rem;
          height: 4.8rem;
          border: solid 0.1rem #dbdbdb;
          box-sizing: border-box;
          background-color: #fafafa;
        }
        .group-7093-KAT {
          font-family: Poppins, 'Source Sans Pro';
          margin: 1.2rem 0rem 1.5rem 0rem;
          height: calc(100% - 2.7rem);
          white-space: nowrap;
          border-radius: 1.05rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0 1.6rem;
          text-align: center;
          line-height: 1.5;
          color: #ffffff;
          background-color: #2e3192;
          font-size: 1.3rem;
          font-weight: 500;
        }
      }
      .auto-group-mafm-BCf {
        width: 99.5rem;
        height: 4.8rem;
        position: absolute;
        left: 3.7rem;
        top: 41.7rem;
        display: flex;
        align-items: center;

        .rectangle-33-Vz3 {
          height: 4.8rem;
          border: solid 0.1rem #dbdbdb;
          box-sizing: border-box;
          background-color: #fafafa;
          border-radius: 1rem;
          flex-shrink: 0;
          margin-right: 0.8rem;
          width: 41rem;
        }
        .group-7089-d4f {
          background-color: #2e3192;
          color: #ffffff;
          white-space: nowrap;
          font-family: Poppins, 'Source Sans Pro';
          text-align: center;
          font-size: 1.3rem;
          height: calc(100% - 2.7rem);
          font-weight: 500;
          border-radius: 1.05rem;
          flex-shrink: 0;
          margin: 1.4rem 4.7rem 1.3rem 0rem;
          padding: 0 1.6rem;
          box-sizing: border-box;
          line-height: 1.5;
        }
        .rectangle-103-Huu {
          margin-right: 0.8rem;
          width: 41rem;
          height: 4.8rem;
          border: solid 0.1rem #dbdbdb;
          box-sizing: border-box;
          background-color: #fafafa;
          border-radius: 1rem;
          flex-shrink: 0;
        }
        .group-7094-RFR {
          margin: 1.4rem 0rem 1.3rem 0rem;
          height: calc(100% - 2.7rem);
          flex-shrink: 0;
          padding: 0 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          background-color: #2e3192;
          box-sizing: border-box;
          font-size: 1.3rem;
          color: #ffffff;
          white-space: nowrap;
          text-align: center;
          font-family: Poppins, 'Source Sans Pro';
          border-radius: 1.05rem;
        }
      }
      .auto-group-dgdr-s7R {
        left: 3.7rem;
        top: 50.5rem;
        display: flex;
        align-items: center;
        width: 99.6rem;
        height: 4.8rem;
        position: absolute;

        .rectangle-34-dko {
          background-color: #fafafa;
          border-radius: 1rem;
          flex-shrink: 0;
          margin-right: 0.8rem;
          width: 41rem;
          height: 4.8rem;
          border: solid 0.1rem #dbdbdb;
          box-sizing: border-box;
        }
        .group-7090-joq {
          height: calc(100% - 2.7rem);
          font-size: 1.3rem;
          flex-shrink: 0;
          margin: 1.4rem 4.8rem 1.3rem 0rem;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          background-color: #2e3192;
          border-radius: 1.05rem;
          text-align: center;
          padding: 0 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          color: #ffffff;
          box-sizing: border-box;
        }
        .rectangle-104-PNb {
          background-color: #fafafa;
          border-radius: 1rem;
          flex-shrink: 0;
          margin-right: 0.8rem;
          width: 41rem;
          height: 4.8rem;
          border: solid 0.1rem #dbdbdb;
          box-sizing: border-box;
        }
        .group-7095-7Jb {
          color: #ffffff;
          height: calc(100% - 2.7rem);
          text-align: center;
          background-color: #2e3192;
          flex-shrink: 0;
          font-weight: 500;
          font-family: Poppins, 'Source Sans Pro';
          font-size: 1.3rem;
          line-height: 1.5;
          white-space: nowrap;
          box-sizing: border-box;
          padding: 0 1.6rem;
          margin: 1.2rem 0rem 1.5rem 0rem;
          border-radius: 1.05rem;
        }
      }
      .auto-group-9obz-y5u {
        display: flex;
        align-items: center;
        width: 99.6rem;
        height: 4.8rem;
        position: absolute;
        left: 3.7rem;
        top: 59.3rem;

        .rectangle-106-H6b {
          border: solid 0.1rem #dbdbdb;
          box-sizing: border-box;
          background-color: #fafafa;
          border-radius: 1rem;
          flex-shrink: 0;
          margin-right: 0.8rem;
          width: 41rem;
          height: 4.8rem;
        }
        .group-7091-Bxf {
          margin: 1.4rem 4.8rem 1.3rem 0rem;
          box-sizing: border-box;
          background-color: #2e3192;
          text-align: center;
          font-size: 1.3rem;
          line-height: 1.5;
          padding: 0 1.6rem;
          font-weight: 500;
          white-space: nowrap;
          border-radius: 1.05rem;
          flex-shrink: 0;
          height: calc(100% - 2.7rem);
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
        }
        .rectangle-107-FxX {
          flex-shrink: 0;
          margin-right: 0.8rem;
          width: 41rem;
          height: 4.8rem;
          border: solid 0.1rem #dbdbdb;
          box-sizing: border-box;
          background-color: #fafafa;
          border-radius: 1rem;
        }
        .group-7096-ytX {
          font-weight: 500;
          line-height: 1.5;
          white-space: nowrap;
          flex-shrink: 0;
          height: calc(100% - 2.7rem);
          font-size: 1.3rem;
          font-family: Poppins, 'Source Sans Pro';
          padding: 0 1.6rem;
          text-align: center;
          background-color: #2e3192;
          margin: 1.4rem 0rem 1.3rem 0rem;
          box-sizing: border-box;
          color: #ffffff;
          border-radius: 1.05rem;
        }
      }
      .auto-group-cgvw-eUs {
        width: 56.5rem;
        height: 2.4rem;
        position: absolute;
        left: 4.4rem;
        top: 20.9rem;
        display: flex;
        align-items: center;

        .user-name-yGF {
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 42.9rem;
          text-align: center;
          line-height: 1.5;
          font-size: 1.6rem;
          font-weight: 500;
        }
        .code-W1H {
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
      .auto-group-yznt-3X1 {
        width: 56.5rem;
        height: 2.4rem;
        position: absolute;
        left: 4.6rem;
        top: 29.7rem;
        display: flex;
        align-items: center;

        .age-N3V {
          line-height: 1.5;
          flex-shrink: 0;
          margin-right: 48.7rem;
          text-align: center;
          font-size: 1.6rem;
          white-space: nowrap;
          font-weight: 500;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
        }
        .blood-hLf {
          text-align: center;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .auto-group-hg5h-e11 {
        height: 2.4rem;
        position: absolute;
        left: 4.6rem;
        top: 38.5rem;
        display: flex;
        align-items: center;
        width: 57.1rem;

        .year-AEF {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          margin-right: 48.2rem;
          text-align: center;
          font-weight: 500;
          line-height: 1.5;
          font-size: 1.6rem;
          color: #000000;
          flex-shrink: 0;
        }
        .father-VnK {
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
        }
      }
      .auto-group-abwz-Ezo {
        top: 47.3rem;
        display: flex;
        align-items: center;
        width: 57.8rem;
        height: 2.4rem;
        position: absolute;
        left: 4.4rem;

        .class-mUw {
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 47.5rem;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          text-align: center;
        }
        .mother-6n7 {
          text-align: center;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .auto-group-xvgs-3ST {
        width: 58.6rem;
        height: 2.4rem;
        position: absolute;
        left: 4.4rem;
        top: 56.1rem;
        display: flex;
        align-items: center;

        .gender-Amy {
          text-align: center;
          font-size: 1.6rem;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          margin-right: 45.7rem;
          font-weight: 500;
          line-height: 1.5;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .religion-JdH {
          text-align: center;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .auto-group-tsfu-r91 {
        left: 3.7rem;
        top: 13rem;
        display: flex;
        align-items: center;
        width: 80.9rem;
        height: 5.8rem;
        position: absolute;

        .frame-427319906-BBH {
          border-radius: 1rem;
          flex-shrink: 0;
          margin-right: 1.7rem;
          width: 61rem;
          height: 100%;
          overflow: hidden;
          position: relative;
          background-color: #ffffff;
        }
        .group-7087-WjM {
          flex-shrink: 0;
          width: 18.2rem;
          font-weight: 500;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          display: flex;
          align-items: center;
          border: solid 0.1rem #ffffff;
          background-color: #2e3192;
          border-radius: 2.9rem;
          text-align: center;
          font-size: 1.6rem;
          line-height: 1.5;
          justify-content: center;
          box-sizing: border-box;
          height: 100%;
          white-space: nowrap;
        }
      }
      .add-student-code-m9V {
        left: 4.35rem;
        top: 9.3rem;
        text-align: center;
        line-height: 1.5;
        color: #000000;
        white-space: nowrap;
        height: 3rem;
        position: absolute;
        font-size: 2rem;
        font-weight: 400;
        font-family: Poppins, 'Source Sans Pro';
        width: 18.9rem;
      }
    }
  }
}
