
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 229rem;
}.prototype-3-6f5 {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  height: 202.4rem;

  .auto-group-y5w3-1GF {
    width: 70.3rem;
    height: 173.2rem;
    position: absolute;
    left: 4.9rem;
    top: 17.7rem;

    .style-guide-igT {
      font-size: 4rem;
      font-weight: 500;
      line-height: 1.2;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 0rem 10rem 3.1rem;
    }
    .auto-group-yyur-1fZ {
      display: flex;
      align-items: center;
      margin-bottom: 6.9rem;
      width: 100%;

      .e3192-ZSB {
        flex-direction: column;
        background-color: #ffffff;
        margin: 1.5rem 10.3rem 0rem 0rem;
        position: relative;
        align-items: center;
        display: flex;
        width: 30rem;
        overflow: hidden;
        flex-shrink: 0;

        .eeeefa-eyR {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.75rem 1.6rem;
          width: 100%;
          height: 5rem;
          background-color: #eeeefa;

          .label-eeeefa-CEF {
            overflow: hidden;
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;

            .item-0-M79 {
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 20.9rem;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.2125;
            }
            .eeeefa-4nF {
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.2rem;
              font-weight: 400;
            }
          }
        }
        .dbdbf0-bGP {
          height: 5rem;
          background-color: #dadbef;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.75rem 1.6rem;
          width: 100%;

          .label-dbdbf0-jNb {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            display: flex;
            align-items: center;

            .item-05-H9D {
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 19.5rem;
              font-size: 1.2rem;
            }
            .dbdbf0-1b1 {
              flex-shrink: 0;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
        .c8c8e5-ikK {
          background-color: #c7c8e5;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.75rem 1.6rem;
          width: 100%;
          height: 5rem;

          .label-c8c8e5-rbd {
            align-items: center;
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            display: flex;

            .item-1-p2f {
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 20.7rem;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.2125;
            }
            .c8c8e5-9aj {
              flex-shrink: 0;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
        .b4b5db-GvF {
          padding: 1.75rem 1.6rem;
          width: 100%;
          height: 5rem;
          background-color: #b4b5da;
          flex-shrink: 0;
          box-sizing: border-box;

          .label-b4b5db-RHM {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;

            .item-15-aAF {
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 19.7rem;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.2125;
            }
            .b4b5db-Jrw {
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .a1a2d0-dPR {
          height: 5rem;
          background-color: #a1a2d0;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.75rem 1.6rem;
          width: 100%;

          .label-a1a2d0-Au9 {
            height: 100%;
            overflow: hidden;
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;

            .item-2-8LB {
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 20.7rem;
            }
            .a1a2d0-U99 {
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .b7dbc-Caw {
          box-sizing: border-box;
          padding: 1.75rem 1.6rem;
          width: 100%;
          height: 5rem;
          background-color: #7a7cbb;
          flex-shrink: 0;

          .label-7b7dbc-wHd {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            display: flex;
            align-items: center;

            .item-3-gFD {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 20.5rem;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #ffffff;
            }
            .b7dbc-1oH {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #ffffff;
            }
          }
        }
        .a7-kVy {
          box-sizing: border-box;
          padding: 1.75rem 1.6rem;
          width: 100%;
          height: 5rem;
          background-color: #5456a6;
          flex-shrink: 0;

          .label-5457a7-hRD {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            display: flex;
            align-items: center;

            .item-4-TQP {
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 20.9rem;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
            }
            .a7-Poq {
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .e3192-jMu {
          box-sizing: border-box;
          padding: 1.75rem 1.6rem;
          width: 100%;
          height: 5rem;
          background-color: #2e3192;
          flex-shrink: 0;

          .label-2e3192-H8X {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;

            .item-5-37h {
              margin-right: 21rem;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .e3192-yX9 {
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.2125;
            }
          }
        }
        .item-6-252775-W1H {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.75rem 1.6rem;
          width: 100%;
          height: 5rem;
          background-color: #242774;

          .label-252775-qZM {
            height: 100%;
            overflow: hidden;
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;

            .item-6-bYX {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 20.9rem;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #ffffff;
            }
            .item-252775-it3 {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #ffffff;
            }
          }
        }
        .c1d58-qxf {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.75rem 1.6rem;
          width: 100%;
          height: 5rem;
          background-color: #1b1d57;

          .label-1c1d58-Bmd {
            align-items: center;
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            display: flex;

            .item-7-LuR {
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 21rem;
              font-size: 1.2rem;
              font-weight: 400;
            }
            .c1d58-giP {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
            }
          }
        }
        .a-DTR {
          width: 100%;
          height: 5rem;
          background-color: #12133a;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.75rem 1.6rem;

          .label-12143a-ANf {
            overflow: hidden;
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;

            .item-8-v6w {
              margin-right: 21rem;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .a-rFV {
              font-weight: 400;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.2rem;
            }
          }
        }
        .e0f2c-ahH {
          box-sizing: border-box;
          padding: 1.75rem 1.6rem;
          width: 100%;
          height: 5rem;
          background-color: #0d0e2b;
          flex-shrink: 0;

          .label-0e0f2c-LAf {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            display: flex;
            align-items: center;

            .item-85-V3Z {
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 19.7rem;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
            }
            .e0f2c-bsH {
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.2125;
            }
          }
        }
        .a1d-YGj {
          box-sizing: border-box;
          padding: 1.75rem 1.6rem;
          width: 100%;
          height: 5rem;
          background-color: #09091d;
          flex-shrink: 0;

          .label-090a1d-5nT {
            overflow: hidden;
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;

            .item-9-dZ5 {
              font-weight: 400;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 20.8rem;
              font-size: 1.2rem;
            }
            .a1d-AZ1 {
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .f-uFh {
          width: 100%;
          height: 5rem;
          background-color: #04040e;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.75rem 1.6rem;

          .label-05050f-FKZ {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            display: flex;
            align-items: center;

            .item-95-QTM {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 19.8rem;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #ffffff;
            }
            .f-Y3m {
              flex-shrink: 0;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
        .item-10-000000-GkT {
          box-sizing: border-box;
          padding: 1.75rem 1.6rem;
          width: 100%;
          height: 5rem;
          background-color: #000000;
          flex-shrink: 0;

          .label-000000-1i3 {
            overflow: hidden;
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;

            .item-10-y95 {
              margin-right: 20.1rem;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .item-000000-uoR {
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
      }
      .e0-cxj {
        flex-direction: column;
        background-color: #ffffff;
        flex-shrink: 0;
        margin-bottom: 1.5rem;
        overflow: hidden;
        position: relative;
        align-items: center;
        display: flex;
        width: 30rem;

        .ffffff-k3M {
          padding: 1.75rem 1.6rem;
          width: 100%;
          height: 5rem;
          background-color: #ffffff;
          flex-shrink: 0;
          box-sizing: border-box;

          .label-ffffff-Hoy {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            overflow: hidden;

            .item-0-3HM {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 21rem;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
            }
            .ffffff-mj9 {
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.2rem;
              font-weight: 400;
            }
          }
        }
        .f1f1fc-72K {
          box-sizing: border-box;
          padding: 1.75rem 1.6rem;
          width: 100%;
          height: 5rem;
          background-color: #f1f0fb;
          flex-shrink: 0;

          .label-f1f1fc-qyu {
            overflow: hidden;
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;

            .item-05-17h {
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 20.1rem;
            }
            .f1f1fc-9Du {
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.2rem;
              font-weight: 400;
            }
          }
        }
        .e3e3f9-gjd {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.75rem 1.6rem;
          width: 100%;
          height: 5rem;
          background-color: #e3e2f8;

          .label-e3e3f9-SD1 {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            overflow: hidden;

            .item-1-Ptw {
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 21rem;
              font-size: 1.2rem;
            }
            .e3e3f9-L3V {
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .d5d5f6-s3R {
          height: 5rem;
          background-color: #d5d4f5;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.75rem 1.6rem;
          width: 100%;

          .label-d5d5f6-oxf {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            display: flex;
            align-items: center;

            .item-15-m8o {
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 19.8rem;
            }
            .d5d5f6-6wm {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
            }
          }
        }
        .c7c7f3-eCb {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.75rem 1.6rem;
          width: 100%;
          height: 5rem;
          background-color: #c7c6f2;

          .label-c7c7f3-BCX {
            overflow: hidden;
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;

            .item-2-KpX {
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 20.6rem;
              font-size: 1.2rem;
            }
            .c7c7f3-UBd {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
          }
        }
        .acaaec-1BZ {
          box-sizing: border-box;
          padding: 1.75rem 1.6rem;
          width: 100%;
          height: 5rem;
          background-color: #abaaec;
          flex-shrink: 0;

          .label-acaaec-wqu {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            display: flex;
            align-items: center;

            .item-3-JgT {
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 20.3rem;
              font-size: 1.2rem;
              font-weight: 400;
            }
            .acaaec-Snf {
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .ee6-PC7 {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.75rem 1.6rem;
          width: 100%;
          height: 5rem;
          background-color: #8f8ee6;

          .label-908ee6-jFy {
            overflow: hidden;
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;

            .item-4-66X {
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 20.8rem;
              font-size: 1.2rem;
              font-weight: 400;
            }
            .ee6-RPh {
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.2rem;
              font-weight: 400;
            }
          }
        }
        .e0-MYF {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.75rem 1.6rem;
          width: 100%;
          height: 5rem;
          background-color: #7372e0;

          .label-7472e0-71d {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            display: flex;
            align-items: center;

            .item-5-enF {
              margin-right: 20.9rem;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .e0-ypX {
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .e5dba-vDy {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.75rem 1.6rem;
          width: 100%;
          height: 5rem;
          background-color: #5e5cba;

          .label-5e5dba-GYj {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            overflow: hidden;

            .item-6-q63 {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 20.6rem;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #ffffff;
            }
            .e5dba-mkP {
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .item-7-494894-K1D {
          box-sizing: border-box;
          padding: 1.75rem 1.6rem;
          width: 100%;
          height: 5rem;
          background-color: #484794;
          flex-shrink: 0;

          .label-494894-FQf {
            align-items: center;
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            display: flex;

            .item-7-ybZ {
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 20.7rem;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.2125;
            }
            .item-494894-v11 {
              font-weight: 400;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.2rem;
            }
          }
        }
        .f-EGb {
          box-sizing: border-box;
          padding: 1.75rem 1.6rem;
          width: 100%;
          height: 5rem;
          background-color: #33326e;
          flex-shrink: 0;

          .label-33326f-Zpf {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;

            .item-8-ihZ {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 20.7rem;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #ffffff;
            }
            .f-er7 {
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .c-nSX {
          box-sizing: border-box;
          padding: 1.75rem 1.6rem;
          width: 100%;
          height: 5rem;
          background-color: #28275b;
          flex-shrink: 0;

          .label-28285c-KhM {
            align-items: center;
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            display: flex;

            .item-85-sis {
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 19.7rem;
              font-size: 1.2rem;
              font-weight: 400;
            }
            .c-cRZ {
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.2125;
            }
          }
        }
        .e1d49-YKD {
          width: 100%;
          height: 5rem;
          background-color: #1d1d48;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.75rem 1.6rem;

          .label-1e1d49-ggK {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            display: flex;
            align-items: center;

            .item-9-qp7 {
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 21rem;
              font-size: 1.2rem;
              font-weight: 400;
            }
            .e1d49-yfR {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #ffffff;
            }
          }
        }
        .item-95-131336-uZ5 {
          height: 5rem;
          background-color: #121235;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.75rem 1.6rem;
          width: 100%;

          .label-131336-eFm {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;

            .item-95-bwh {
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 20rem;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.2125;
            }
            .item-131336-wVm {
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.2125;
            }
          }
        }
        .item-10-080823-fwZ {
          background-color: #080823;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.75rem 1.6rem;
          width: 100%;
          height: 5rem;

          .label-080823-1Vd {
            overflow: hidden;
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;

            .item-10-N5H {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 20.1rem;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #ffffff;
            }
            .item-080823-Vvb {
              line-height: 1.2125;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.2rem;
              font-weight: 400;
            }
          }
        }
      }
    }
    .c1-Cq1 {
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      margin: 0rem 22.8rem 0rem 17.5rem;
      width: calc(100% - 40.3rem);
      overflow: hidden;
      position: relative;
      align-items: center;

      .ffffff-WKu {
        width: 100%;
        height: 5rem;
        background-color: #ffffff;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.75rem 1.6rem;

        .label-ffffff-TF9 {
          position: relative;
          display: flex;
          align-items: center;
          width: 100%;
          height: 100%;
          overflow: hidden;

          .item-0-QAP {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 21rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
          .ffffff-97y {
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 400;
          }
        }
      }
      .ebf1f9-sJs {
        width: 100%;
        height: 5rem;
        background-color: #ebf0f8;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.75rem 1.6rem;

        .label-ebf1f9-cGT {
          width: 100%;
          height: 100%;
          overflow: hidden;
          position: relative;
          display: flex;
          align-items: center;

          .item-05-mQF {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 20rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
          }
          .ebf1f9-hoh {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
          }
        }
      }
      .d7e2f3-qf1 {
        width: 100%;
        height: 5rem;
        background-color: #d7e2f2;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.75rem 1.6rem;

        .label-d7e2f3-aMh {
          width: 100%;
          height: 100%;
          overflow: hidden;
          position: relative;
          display: flex;
          align-items: center;

          .item-1-jVV {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 20.9rem;
          }
          .d7e2f3-GkK {
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
      .c4d4ec-zwD {
        box-sizing: border-box;
        padding: 1.75rem 1.6rem;
        width: 100%;
        height: 5rem;
        background-color: #c3d4ec;
        flex-shrink: 0;

        .label-c4d4ec-9ZD {
          align-items: center;
          width: 100%;
          height: 100%;
          overflow: hidden;
          position: relative;
          display: flex;

          .item-15-uHV {
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 19.5rem;
            font-size: 1.2rem;
          }
          .c4d4ec-SYK {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
      .b0c6e6-mqV {
        height: 5rem;
        background-color: #afc5e6;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.75rem 1.6rem;
        width: 100%;

        .label-b0c6e6-Kc7 {
          width: 100%;
          height: 100%;
          overflow: hidden;
          position: relative;
          display: flex;
          align-items: center;

          .item-2-gSf {
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 20.6rem;
            font-size: 1.2rem;
          }
          .b0c6e6-p35 {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2125;
          }
        }
      }
      .a9da-Yzf {
        height: 5rem;
        background-color: #88a9d9;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.75rem 1.6rem;
        width: 100%;

        .label-88a9da-6FV {
          width: 100%;
          height: 100%;
          overflow: hidden;
          position: relative;
          display: flex;
          align-items: center;

          .item-3-3Rd {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 20.5rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
          }
          .a9da-Nyh {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
          }
        }
      }
      .dcd-7gP {
        box-sizing: border-box;
        padding: 1.75rem 1.6rem;
        width: 100%;
        height: 5rem;
        background-color: #608ccd;
        flex-shrink: 0;

        .label-618dcd-G3V {
          width: 100%;
          height: 100%;
          overflow: hidden;
          position: relative;
          display: flex;
          align-items: center;

          .item-4-p51 {
            margin-right: 20.5rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .dcd-Maj {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #ffffff;
          }
        }
      }
      .c1-h8o {
        width: 100%;
        height: 5rem;
        background-color: #3970c1;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.75rem 1.6rem;

        .label-3970c1-SMH {
          overflow: hidden;
          position: relative;
          display: flex;
          align-items: center;
          width: 100%;
          height: 100%;

          .item-5-bV5 {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 20.9rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
          }
          .c1-wJ3 {
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 400;
          }
        }
      }
      .e5a9a-Gr7 {
        padding: 1.75rem 1.6rem;
        width: 100%;
        height: 5rem;
        background-color: #2d599a;
        flex-shrink: 0;
        box-sizing: border-box;

        .label-2e5a9a-DmM {
          height: 100%;
          overflow: hidden;
          position: relative;
          display: flex;
          align-items: center;
          width: 100%;

          .item-6-Nu9 {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 20.6rem;
          }
          .e5a9a-ii7 {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
          }
        }
      }
      .item-7-224374-Su1 {
        box-sizing: border-box;
        padding: 1.75rem 1.6rem;
        width: 100%;
        height: 5rem;
        background-color: #224373;
        flex-shrink: 0;

        .label-224374-Brb {
          width: 100%;
          height: 100%;
          overflow: hidden;
          position: relative;
          display: flex;
          align-items: center;

          .item-7-was {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 20.9rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
          }
          .item-224374-Uao {
            font-weight: 400;
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.2rem;
          }
        }
      }
      .d4d-o7H {
        width: 100%;
        height: 5rem;
        background-color: #162c4d;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.75rem 1.6rem;

        .label-172d4d-k2X {
          width: 100%;
          height: 100%;
          overflow: hidden;
          position: relative;
          display: flex;
          align-items: center;

          .item-8-J43 {
            margin-right: 20.7rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .d4d-qJs {
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2125;
          }
        }
      }
      .a-Arw {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.75rem 1.7rem 1.75rem 1.6rem;
        width: 100%;
        height: 5rem;
        background-color: #112139;

        .label-11223a-uZd {
          width: 100%;
          height: 100%;
          overflow: hidden;
          position: relative;
          display: flex;
          align-items: center;

          .item-85-G9H {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 20rem;
          }
          .a-oQ7 {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
      .b1627-vjd {
        box-sizing: border-box;
        padding: 1.75rem 1.6rem;
        width: 100%;
        height: 5rem;
        background-color: #0b1626;
        flex-shrink: 0;

        .label-0b1627-56j {
          align-items: center;
          width: 100%;
          height: 100%;
          overflow: hidden;
          position: relative;
          display: flex;

          .item-9-Dyd {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 20.9rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
          }
          .b1627-mET {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
          }
        }
      }
      .b13-uLf {
        box-sizing: border-box;
        padding: 1.75rem 1.6rem;
        width: 100%;
        height: 5rem;
        background-color: #050b13;
        flex-shrink: 0;

        .label-060b13-rFu {
          overflow: hidden;
          position: relative;
          display: flex;
          align-items: center;
          width: 100%;
          height: 100%;

          .item-95-Pmd {
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 19.8rem;
            font-size: 1.2rem;
            font-weight: 400;
          }
          .b13-LRy {
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
      .item-10-000000-GKd {
        padding: 1.75rem 1.6rem;
        width: 100%;
        height: 5rem;
        background-color: #000000;
        flex-shrink: 0;
        box-sizing: border-box;

        .label-000000-c8b {
          overflow: hidden;
          position: relative;
          display: flex;
          align-items: center;
          width: 100%;
          height: 100%;

          .item-10-mGP {
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 20.1rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2125;
          }
          .item-000000-75M {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
          }
        }
      }
    }
  }
  .auto-group-ca5y-DeB {
    position: absolute;
    left: 97.6rem;
    top: 29.6rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 6.1rem;
    height: 71.5rem;

    .colors-WtB {
      margin-bottom: 1.4rem;
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.4;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .primary-3t7 {
      flex-shrink: 0;
      margin: 0rem 0rem 2.3rem 0.1rem;
      width: 6rem;
      height: 6rem;
      background-color: #2e3192;
      border-radius: 0.8rem;
    }
    .secondary-yFy {
      margin: 0rem 0rem 2.3rem 0.1rem;
      width: 6rem;
      height: 6rem;
      background-color: #7372e0;
      border-radius: 0.8rem;
      flex-shrink: 0;
    }
    .action-ttj {
      margin: 0rem 0rem 2.3rem 0.1rem;
      width: 6rem;
      height: 6rem;
      background-color: #d97904;
      border-radius: 0.8rem;
      flex-shrink: 0;
    }
    .neutrals-Dw1 {
      width: 6rem;
      height: 6rem;
      background-color: #dbdbdb;
      border-radius: 0.8rem;
      flex-shrink: 0;
      margin: 0rem 0rem 2.3rem 0.1rem;
    }
    .auto-group-xqao-ws1 {
      margin: 0rem 0rem 1.1rem 0.1rem;
      width: 6rem;
      height: 13.7rem;
      position: relative;
      flex-shrink: 0;

      .other-4wd {
        width: 6rem;
        height: 6rem;
        position: absolute;
        left: 0;
        top: 4.2rem;
        background-color: #fafafa;
        border-radius: 0.8rem;
      }
      .other-CY3 {
        top: 0;
        background-color: #3970c1;
        border-radius: 0.8rem;
        width: 6rem;
        height: 6rem;
        position: absolute;
        left: 0;
      }
      .other-k3m {
        top: 7.7rem;
        background-color: #ffc727;
        border-radius: 0.8rem;
        width: 6rem;
        height: 6rem;
        position: absolute;
        left: 0;
      }
    }
    .other-HJb {
      height: 6rem;
      background-color: #fafafa;
      border-radius: 0.8rem;
      flex-shrink: 0;
      margin: 0rem 0.1rem 1.4rem 0rem;
      width: 6rem;
    }
    .other-CwM {
      height: 6rem;
      background-color: #e3e3f9;
      border-radius: 0.8rem;
      flex-shrink: 0;
      margin: 0rem 0.1rem 3.1rem 0rem;
      width: 6rem;
    }
    .icon-LGs {
      flex-shrink: 0;
      margin-right: 1.2rem;
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.4;
      color: #000000;
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .vector-10-sXh {
    object-fit: contain;
    vertical-align: top;
    width: 0rem;
    height: 124.8rem;
    position: absolute;
    left: 85.5rem;
    top: 28.8rem;
  }
  .auto-group-4x39-CZy {
    left: 159.1rem;
    top: 28.8rem;
    width: 11.3rem;
    height: 124.8rem;
    position: absolute;

    .vector-11-8Td {
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 0rem;
      height: 124.8rem;
      position: absolute;
      left: 1rem;
    }
    .text-57y {
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      left: 0;
      font-size: 4rem;
      font-weight: 400;
      line-height: 1.1725;
      color: #ffffff;
      width: 7.7rem;
      height: 4.7rem;
      top: 63.2rem;
    }
    .input-nYB {
      font-size: 4rem;
      line-height: 1.5;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      left: 1rem;
      height: 6rem;
      position: absolute;
      top: 76.7rem;
      font-weight: 400;
      width: 10.3rem;
    }
  }
  .auto-group-pt3h-6Hy {
    top: 35.2rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 6.7rem;
    height: 37.7rem;
    position: absolute;
    left: 104.5rem;

    .primary-f34e4e-oiB {
      flex-shrink: 0;
      margin: 0rem 0.7rem 6.6rem 0rem;
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 1.1725;
      color: rgba(0, 0, 0, 0.8999999762);
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
    }
    .secondary-fff6ea-7is {
      font-family: Roboto, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 5.2rem;
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 1.1725;
      color: rgba(0, 0, 0, 0.8999999762);
    }
    .action-cQj {
      border-radius: 0.8rem;
      flex-shrink: 0;
      margin: 0rem 0.4rem 2.3rem 0.3rem;
      width: calc(100% - 0.7rem);
      height: 6rem;
      background-color: #33326f;
    }
    .neutrals-Xnb {
      width: 6rem;
      height: 6rem;
      background-color: #6f6f6f;
      border-radius: 0.8rem;
      flex-shrink: 0;
      margin: 0rem 0rem 2.2rem 0.7rem;
    }
    .other-esD {
      margin-left: 0.7rem;
      width: 6rem;
      height: 6rem;
      background-color: #9ca3af;
      border-radius: 0.8rem;
      flex-shrink: 0;
    }
  }
  .auto-group-6qpx-C83 {
    width: 46.2rem;
    height: 105.2rem;
    position: absolute;
    left: 170.4rem;
    top: 16.7rem;

    .whatsappimage2023-11-22at2228-2-vJw {
      margin: 0rem 0rem 48.7rem 8.7rem;
      width: 37.5rem;
      height: 50.5rem;
      position: relative;
      background-size: 134.667% 100%;
      background-position: -6.5rem 0;
      background-image: url('REPLACE_IMAGE:ec8e0258846984b3db66e381be934ea759806a94');
      border-radius: 24.25rem;
    }
    .add-to-cart-n6F {
      font-size: 4rem;
      font-weight: 400;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
}
