
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.register-82w {
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;

  .frame-106-SJX {
    height: 11.5rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 3.2rem;
    width: 100%;

    .rectangle-25-ZP9 {
      width: 12.4rem;
      height: 11.5rem;
      background-color: #7372e0;
      flex-shrink: 0;
    }
    .auto-group-rbkf-68B {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 2.8rem 24.5rem 3.7rem 0rem;
      height: 100%;
      display: flex;
      align-items: center;

      .educare-3-6-Qef {
        margin-right: 4.649rem;
        width: 17.551rem;
        height: 5rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .frame-105-wPh {
        align-items: flex-start;
        flex-shrink: 0;
        margin: 1.3rem 0rem 1.2rem 0rem;
        height: calc(100% - 2.5rem);
        overflow: hidden;
        position: relative;
        display: flex;

        .home-F9V {
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          white-space: nowrap;
          margin: 0.1rem 2.6rem 0rem 0rem;
          text-align: center;
          color: #727272;
          font-family: Poppins, 'Source Sans Pro';
        }
        .download-MCX {
          margin-right: 2.4rem;
          font-family: Poppins, 'Source Sans Pro';
          color: #727272;
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
        }
        .support-sgf {
          text-align: center;
          font-weight: 500;
          font-family: Poppins, 'Source Sans Pro';
          display: flex;
          align-items: baseline;
          flex-shrink: 0;
          font-size: 1.6rem;
          line-height: 1.5;
          color: #000000;
          white-space: nowrap;

          .support-sgf-sub-0 {
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #727272;
            font-family: Poppins, 'Source Sans Pro';
          }
          .support-sgf-sub-1 {
          }
        }
      }
    }
    .rectangle-24-QKD {
      flex-shrink: 0;
      width: 60.2rem;
      height: 11.5rem;
      background-color: #7372e0;
    }
  }
  .auto-group-2emh-9Xh {
    margin-right: 8rem;
    width: 166.1rem;
    height: 151.2rem;
    position: relative;
    flex-shrink: 0;

    .col-md-6-sCo {
      overflow: hidden;
      background-color: #ffffff;
      width: 63rem;
      height: 60rem;
      position: absolute;
      left: 73rem;
      top: 0;

      .thumb-concept-16-QCj {
        width: 72.9rem;
        height: 69.4rem;
        position: relative;
        overflow: hidden;

        .vector-ijD {
          position: absolute;
          left: 23rem;
          top: 37.8rem;
          object-fit: contain;
          vertical-align: top;
          width: 73.7849rem;
          height: 56.9872rem;
        }
        .polygon-1-FDM {
          width: 42.3931rem;
          height: 42.3931rem;
          position: absolute;
          left: 9.1659rem;
          top: 0rem;
          object-fit: contain;
          vertical-align: top;
        }
        .technology-1-P4f {
          position: absolute;
          left: 8.7rem;
          top: 0;
          object-fit: contain;
          vertical-align: top;
          width: 55.6rem;
          height: 47.1611rem;
        }
        .frame-92-6zf {
          top: 14.6423rem;
          overflow: hidden;
          border-radius: 0.6871rem;
          height: 3.5041rem;
          position: absolute;
          left: 42.5789rem;
          background-color: #fff0e9;
          box-sizing: border-box;
          padding: 0.758rem 0.683rem 0.746rem 0.721rem;
          width: 3.5041rem;

          .image-9-1Lw {
            width: 2.1rem;
            height: 2rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .frame-92-vyh {
          box-sizing: border-box;
          width: 3.5041rem;
          border-radius: 2.817rem;
          top: 37.0338rem;
          overflow: hidden;
          background-color: #fff0e9;
          padding: 0.766rem 0.719rem 0.738rem 0.785rem;
          height: 3.5041rem;
          position: absolute;
          left: 41.1153rem;

          .image-8-qqm {
            object-fit: cover;
            vertical-align: top;
            width: 2rem;
            height: 2rem;
          }
        }
        .image-6-aHZ {
          width: 13.2rem;
          height: 13.2rem;
          position: absolute;
          left: 30.9rem;
          top: 19.6rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
    }
    .vector-tZ9 {
      vertical-align: top;
      width: 91.5rem;
      height: 140.4rem;
      position: absolute;
      left: 0;
      top: 10.8rem;
      object-fit: contain;
    }
    .rectangle-23-2fM {
      left: 8rem;
      top: 98.2607rem;
      background-color: #2e3192;
      width: 52.2rem;
      height: 6.2rem;
      position: absolute;
      border-radius: 1rem;
      border: solid 0.1rem #a6a6a6;
      box-sizing: border-box;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    }
    .group-31-WKd {
      width: 31.1rem;
      height: 6.4rem;
      position: absolute;
      left: 8rem;
      top: 0;

      .register-qsh {
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 1.5rem;
        width: 100%;
        text-align: center;
        font-size: 2.6rem;
        font-weight: 700;
      }
      .please-create-an-account-to-tracking-your-child-mmM {
        line-height: 1.2125;
        color: #7d7c7c;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 100%;
        text-align: center;
        font-size: 1.4rem;
        font-weight: 400;
      }
    }
    .already-have-an-account-login-spP {
      top: 93.7804rem;
      font-weight: 400;
      color: #86c9f6;
      font-family: Source Sans Pro, 'Source Sans Pro';
      line-height: 1.49999995;
      height: 2.9rem;
      display: flex;
      letter-spacing: 0.0596rem;
      width: 26.7rem;
      position: absolute;
      left: 20.5rem;
      font-size: 1.9071rem;
      white-space: nowrap;
      align-items: baseline;

      .already-have-an-account-login-spP-sub-0 {
        font-family: Source Sans Pro, 'Source Sans Pro';
        font-size: 1.9071rem;
        font-weight: 400;
        line-height: 1.49999995;
        letter-spacing: 0.0596rem;
        color: #030b0f;
      }
      .already-have-an-account-login-spP-sub-1 {
        font-size: 1.9071rem;
        font-weight: 400;
        line-height: 1.49999995;
        letter-spacing: 0.0596rem;
        color: #86c9f6;
        font-family: Source Sans Pro, 'Source Sans Pro';
      }
      .already-have-an-account-login-spP-sub-2 {
        font-family: Source Sans Pro, 'Source Sans Pro';
        font-size: 1.9071rem;
        font-weight: 400;
        line-height: 1.49999995;
        letter-spacing: 0.0596rem;
        color: #ee5757;
      }
    }
    .group-33-RmM {
      width: 52.2rem;
      height: 6.2rem;
      position: absolute;
      left: 8rem;
      top: 26rem;
      overflow: hidden;
      box-sizing: border-box;
      padding: 1.9rem 29rem 1.9rem 1.6rem;
      border-radius: 0.8rem;
      display: flex;
      align-items: center;
      border: solid 0.1rem #d9d9d9;
      background-color: #fafafa;

      .auto-group-eahh-j1M {
        margin-right: 1.6rem;
        width: 2.4rem;
        height: 2.4rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-dhsh-eu1 {
        flex-shrink: 0;
        height: calc(100% - 0.3rem);
        line-height: 1.2125;
        padding: 0.2rem 0;
        width: 17.6rem;
        text-align: center;
        font-size: 1.4rem;
        font-weight: 400;
        color: #d9d9d9;
        margin: 0.2rem 0rem 0.1rem 0rem;
        box-sizing: border-box;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .group-35-u4F {
      top: 43.7rem;
      align-items: center;
      box-sizing: border-box;
      padding: 1.9rem 1.6rem;
      height: 6.2rem;
      overflow: hidden;
      display: flex;
      border: solid 0.1rem #d9d9d9;
      background-color: #fafafa;
      border-radius: 0.8rem;
      width: 52.2rem;
      position: absolute;
      left: 8rem;

      .auto-group-niy1-1NB {
        flex-shrink: 0;
        margin-right: 1.6rem;
        width: 2.4rem;
        height: 2.4rem;
        object-fit: contain;
        vertical-align: top;
      }
      .auto-group-rubv-YN7 {
        white-space: nowrap;
        margin: 0.2rem 25rem 0.1rem 0rem;
        padding: 0.2rem 0;
        height: calc(100% - 0.3rem);
        text-align: center;
        line-height: 1.2125;
        color: #d9d9d9;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        box-sizing: border-box;
        width: 17.6rem;
        font-size: 1.4rem;
        font-weight: 400;
      }
      .eye-slash-p4j {
        width: 2.4rem;
        height: 2.4rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .group-35-ifu {
      top: 34.2rem;
      overflow: hidden;
      width: 52.2rem;
      padding: 1.9rem 1.6rem;
      height: 6.2rem;
      position: absolute;
      left: 8rem;
      display: flex;
      align-items: center;
      border: solid 0.1rem #d9d9d9;
      box-sizing: border-box;
      border-radius: 0.8rem;
      background-color: #fafafa;

      .auto-group-xi5q-pD9 {
        width: 2.4rem;
        height: 2.4rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.6rem;
      }
      .auto-group-sf5m-x4T {
        height: calc(100% - 0.3rem);
        font-size: 1.4rem;
        line-height: 1.2125;
        white-space: nowrap;
        margin: 0.2rem 25rem 0.1rem 0rem;
        padding: 0.2rem 0;
        width: 17.6rem;
        text-align: center;
        font-weight: 400;
        color: #d9d9d9;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        box-sizing: border-box;
      }
      .eye-slash-qP9 {
        vertical-align: top;
        flex-shrink: 0;
        width: 2.4rem;
        height: 2.4rem;
        object-fit: contain;
      }
    }
    .group-33-xCs {
      border-radius: 0.8rem;
      left: 8rem;
      overflow: hidden;
      box-sizing: border-box;
      background-color: #fafafa;
      border: solid 0.1rem #d9d9d9;
      width: 52.2rem;
      height: 6.2rem;
      position: absolute;
      top: 69.6rem;

      .group-45-gef {
        width: 100%;
        border: solid 0.1rem #d9d9d9;
        background-color: #fafafa;
        border-radius: 0.8rem;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 1.9rem 29rem 1.9rem 1.6rem;
        height: 100%;
        overflow: hidden;
        position: relative;

        .auto-group-efvb-pF5 {
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.6rem;
          width: 2.4rem;
          height: 2.4rem;
          object-fit: contain;
        }
        .auto-group-1omv-keX {
          box-sizing: border-box;
          height: calc(100% - 0.3rem);
          text-align: center;
          font-size: 1.4rem;
          color: #d9d9d9;
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.2rem 0rem 0.1rem 0rem;
          padding: 0.2rem;
          width: 17.6rem;
          font-weight: 400;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
        }
      }
    }
    .group-35-y1V {
      background-color: #fafafa;
      box-sizing: border-box;
      padding: 1.9rem 1.624rem 1.7rem 1.6rem;
      width: 52.2rem;
      height: 6.2rem;
      top: 86rem;
      border: solid 0.1rem #d9d9d9;
      border-radius: 0.8rem;
      position: absolute;
      left: 8rem;
      overflow: hidden;
      display: flex;
      align-items: center;

      .auto-group-gsjf-sMm {
        line-height: 1.2125;
        color: #d9d9d9;
        white-space: nowrap;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.4rem 0rem 0.3rem 0rem;
        width: 21.6rem;
        text-align: center;
        font-size: 1.4rem;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        margin: 0rem 9.4rem 0.2rem 0rem;
      }
      .eye-slash-jes {
        width: 2.4rem;
        height: 2.4rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.2rem 13.176rem 0rem 0rem;
      }
      .vuesax-linear-arrow-down-4SF {
        margin-bottom: 0.2rem;
        width: 2.4rem;
        height: 2.4rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .group-35-mbZ {
      box-sizing: border-box;
      position: absolute;
      left: 8rem;
      align-items: center;
      border: solid 0.1rem #d9d9d9;
      background-color: #fafafa;
      border-radius: 0.8rem;
      padding: 1.9rem 29rem 1.9rem 1.6rem;
      width: 52.2rem;
      height: 6.2rem;
      top: 77.8rem;
      overflow: hidden;
      display: flex;

      .auto-group-hum9-sPh {
        flex-shrink: 0;
        margin-right: 1.6rem;
        width: 2.4rem;
        height: 2.4rem;
        object-fit: contain;
        vertical-align: top;
      }
      .auto-group-idcw-cMH {
        box-sizing: border-box;
        width: 17.6rem;
        line-height: 1.2125;
        white-space: nowrap;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        margin: 0.2rem 0rem 0.1rem 0rem;
        padding: 0.2rem 0;
        height: calc(100% - 0.3rem);
        text-align: center;
        font-size: 1.4rem;
        font-weight: 400;
        color: #d9d9d9;
      }
    }
    .group-44-fqM {
      left: 8rem;
      top: 53.2rem;
      border-radius: 0.8rem;
      width: 52.2rem;
      height: 6.2rem;
      position: absolute;

      .group-43-1PR {
        border-radius: 0.8rem;
        width: 100%;
        height: 100%;

        .group-42-NUs {
          width: 100%;
          height: 100%;
          border-radius: 0.8rem;

          .group-15-Kuu {
            overflow: hidden;
            border-radius: 0.8rem;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            align-items: center;
            border: solid 0.1rem #d9d9d9;
            background-color: #fafafa;
            padding: 1.9rem 29rem 1.9rem 1.6rem;
            position: relative;
            display: flex;

            .auto-group-u4dz-exB {
              height: 2.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.4rem;
              width: 2.4rem;
            }
            .auto-group-z18o-CD1 {
              width: 17.8rem;
              font-size: 1.4rem;
              line-height: 1.2125;
              white-space: nowrap;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 0.2rem 0;
              text-align: center;
              font-weight: 400;
              color: #d9d9d9;
              font-family: Inter, 'Source Sans Pro';
              margin: 0.2rem 0rem 0.1rem 0rem;
              height: calc(100% - 0.3rem);
            }
          }
        }
      }
    }
    .group-44-c1q {
      top: 61.4rem;
      border-radius: 0.8rem;
      width: 52.2rem;
      height: 6.2rem;
      position: absolute;
      left: 8rem;

      .group-43-LyR {
        width: 100%;
        height: 100%;
        border-radius: 0.8rem;

        .group-42-JvF {
          width: 100%;
          height: 100%;
          border-radius: 0.8rem;

          .group-15-U43 {
            align-items: center;
            border-radius: 0.8rem;
            box-sizing: border-box;
            padding: 1.9rem 1.6rem 1.9rem 1.45rem;
            height: 100%;
            overflow: hidden;
            position: relative;
            width: 100%;
            display: flex;
            border: solid 0.1rem #d9d9d9;
            background-color: #fafafa;

            .auto-group-r3bh-o6K {
              padding: 0.4rem 0rem 0.3rem 0rem;
              height: 100%;
              font-size: 1.4rem;
              font-weight: 400;
              color: #d9d9d9;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              margin-right: 25rem;
              width: 21.75rem;
              text-align: center;
              line-height: 1.2125;
              white-space: nowrap;
              box-sizing: border-box;
            }
            .vuesax-linear-calendar-edit-gfu {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 2.4rem;
              height: 2.4rem;
            }
          }
        }
      }
    }
    .password-must-be-at-least-8-characters-mBZ {
      width: 30.6rem;
      font-weight: 400;
      letter-spacing: 0.016rem;
      line-height: 1.2999999523;
      color: #9ca3af;
      font-family: Inter, 'Source Sans Pro';
      height: 2.1rem;
      position: absolute;
      left: 8rem;
      top: 41rem;
      font-size: 1.6rem;
      white-space: nowrap;
    }
    .both-password-must-match-Eaw {
      font-family: Inter, 'Source Sans Pro';
      height: 2.1rem;
      position: absolute;
      top: 50.5rem;
      text-align: center;
      line-height: 1.2999999523;
      letter-spacing: 0.016rem;
      color: #9ca3af;
      white-space: nowrap;
      width: 21.1rem;
      left: 8rem;
      font-size: 1.6rem;
      font-weight: 400;
    }
    .group-42-jGo {
      top: 9.6rem;
      border-radius: 0.8rem;
      width: 52.2rem;
      height: 6.2rem;
      position: absolute;
      left: 8rem;

      .group-15-GnX {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        border: solid 0.1rem #d9d9d9;
        border-radius: 0.8rem;
        padding: 1.9rem 29rem 1.9rem 1.6rem;
        position: relative;
        align-items: center;
        background-color: #fafafa;
        box-sizing: border-box;

        .auto-group-hgu9-Cw5 {
          margin-right: 1.6rem;
          width: 2.4rem;
          height: 2.4rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .auto-group-ddu5-wdm {
          font-weight: 400;
          white-space: nowrap;
          margin: 0.2rem 0rem 0.1rem 0rem;
          padding: 0.1rem 0;
          height: calc(100% - 0.3rem);
          text-align: center;
          font-size: 1.4rem;
          flex-shrink: 0;
          box-sizing: border-box;
          width: 17.6rem;
          line-height: 1.2125;
          color: #d9d9d9;
          font-family: Inter, 'Source Sans Pro';
        }
      }
    }
    .group-32-X6B {
      box-sizing: border-box;
      padding: 1.9rem 29rem 1.9rem 1.6rem;
      position: absolute;
      background-color: #fafafa;
      border-radius: 0.8rem;
      align-items: center;
      border: solid 0.1rem #d9d9d9;
      width: 52.2rem;
      height: 6.2rem;
      left: 8rem;
      top: 17.8rem;
      overflow: hidden;
      display: flex;

      .auto-group-d6t5-mmD {
        width: 2.4rem;
        height: 2.4rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.6rem;
      }
      .auto-group-vsg3-74P {
        margin: 0.2rem 0rem 0.1rem 0rem;
        box-sizing: border-box;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-weight: 400;
        line-height: 1.2125;
        color: #d9d9d9;
        padding: 0.2rem 0;
        width: 17.6rem;
        height: calc(100% - 0.3rem);
        text-align: center;
        font-size: 1.4rem;
      }
    }
    .register-mPq {
      color: #f5f5f5;
      font-family: Poppins, 'Source Sans Pro';
      width: 8.1rem;
      position: absolute;
      top: 100.2rem;
      font-weight: 400;
      line-height: 1.5;
      height: 3rem;
      left: 30rem;
      font-size: 2rem;
      white-space: nowrap;
    }
    .bottom-nav-bar-HNB {
      width: 103.5rem;
      height: 17rem;
      position: absolute;
      box-sizing: border-box;
      padding-right: 3.7rem;
      left: 19.1rem;
      top: 113rem;
      overflow: hidden;
      display: flex;
      align-items: flex-start;

      .col-md-2-bNs {
        margin-right: 23.6rem;
        height: 100%;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .h5-Y3D {
          margin-bottom: 2rem;
          letter-spacing: 0.01rem;
          color: #252b42;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 1.5;
        }
        .div-4XM {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          row-gap: 1rem;

          .link-zvo {
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.7142857143;
            letter-spacing: 0.02rem;
            color: #727272;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
          }
          .link-vpT {
            font-weight: 700;
            line-height: 1.7142857143;
            letter-spacing: 0.02rem;
            color: #727272;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
          }
          .link-fn3 {
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.7142857143;
            letter-spacing: 0.02rem;
            color: #727272;
          }
          .link-p99 {
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.7142857143;
            letter-spacing: 0.02rem;
            color: #727272;
          }
        }
      }
      .col-md-2-YL3 {
        flex-shrink: 0;
        margin-right: 24.7rem;
        width: 11.2rem;
        height: 100%;
        overflow: hidden;
        position: relative;

        .h5-UjV {
          line-height: 1.5;
          letter-spacing: 0.01rem;
          color: #252b42;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 2rem;
          font-size: 1.6rem;
          font-weight: 700;
        }
        .div-cqh {
          display: flex;
          flex-direction: column;
          width: 100%;
          row-gap: 1rem;

          .link-xuZ {
            line-height: 1.7142857143;
            letter-spacing: 0.02rem;
            color: #727272;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 700;
          }
          .link-hMM {
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.7142857143;
            letter-spacing: 0.02rem;
            color: #727272;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .link-Es5 {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.7142857143;
            letter-spacing: 0.02rem;
            color: #727272;
            font-family: Montserrat, 'Source Sans Pro';
          }
          .link-PEB {
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.7142857143;
            letter-spacing: 0.02rem;
            color: #727272;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
      .col-md-4-KNj {
        width: 28.4rem;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;

        .h5-fxP {
          letter-spacing: 0.01rem;
          color: #252b42;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 2rem;
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 1.5;
        }
        .div-cMq {
          align-items: center;
          display: flex;
          flex-direction: column;
          width: 100%;

          .auto-group-xg3u-mkX {
            box-sizing: border-box;
            padding-bottom: 1rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .feature-item-K1M {
              margin: 0rem 15rem 1rem 0rem;
              box-sizing: border-box;
              padding-left: 0.1194rem;
              position: relative;
              display: flex;
              flex-shrink: 0;
              width: calc(100% - 15rem);
              overflow: hidden;
              align-items: flex-start;

              .bx-bx-phone-pyh {
                margin-right: 1rem;
                width: 2.2806rem;
                height: 2.2807rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .h6-Mij {
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 700;
                line-height: 1.7142857143;
                letter-spacing: 0.02rem;
                color: #727272;
              }
            }
            .feature-item-tTm {
              flex-shrink: 0;
              margin-right: 1.8rem;
              width: calc(100% - 1.8rem);
              overflow: hidden;
              position: relative;
              display: flex;
              align-items: center;

              .bx-bx-map-E1q {
                margin: 0rem 1rem 0rem 0rem;
                width: 2.4rem;
                height: 2.9999rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .h6-wwq {
                font-weight: 700;
                color: #727272;
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
                font-size: 1.4rem;
                line-height: 1.7142857143;
                letter-spacing: 0.02rem;
                flex-shrink: 0;
                margin-bottom: 0rem;
              }
            }
          }
          .feature-item-sqV {
            overflow: hidden;
            position: relative;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            width: 100%;

            .carbon-send-alt-qGX {
              margin-right: 1rem;
              width: 2.4rem;
              height: 2.6rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .h6-NXM {
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 700;
              line-height: 1.7142857143;
              letter-spacing: 0.02rem;
              color: #727272;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
      }
    }
    .contact-us-u1V {
      top: 130.6rem;
      object-fit: contain;
      vertical-align: top;
      width: 11.2rem;
      height: 2.4rem;
      position: absolute;
      left: 100.1rem;
    }
  }
}
