
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 7.8rem;
}.reports-Zs1 {
  color: #000000;
  white-space: nowrap;
  width: 100%;
  font-weight: 500;
  line-height: 1.5;
  font-family: Poppins, 'Source Sans Pro';
  height: 3rem;
  text-align: center;
  font-size: 2rem;
}
