
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.succes-create-account--kVq {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .frame-107-HEs {
    width: 100%;
    height: 11.5rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .rectangle-25-1gf {
      width: 12.4rem;
      height: 11.5rem;
      background-color: #7372e0;
      flex-shrink: 0;
    }
    .auto-group-k5cf-ZCP {
      padding: 2.8rem 24.5rem 3.7rem 0rem;
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;

      .educare-3-6-tEf {
        margin-right: 4.649rem;
        width: 17.551rem;
        height: 5rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .frame-105-D23 {
        align-items: flex-start;
        flex-shrink: 0;
        margin: 1.3rem 0rem 1.2rem 0rem;
        height: calc(100% - 2.5rem);
        overflow: hidden;
        position: relative;
        display: flex;

        .home-X2j {
          text-align: center;
          font-size: 1.6rem;
          white-space: nowrap;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0.1rem 2.6rem 0rem 0rem;
          font-weight: 500;
          line-height: 1.5;
          color: #727272;
        }
        .download-1yV {
          margin-right: 2.4rem;
          font-weight: 500;
          color: #727272;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          text-align: center;
          font-size: 1.6rem;
          line-height: 1.5;
          white-space: nowrap;
        }
        .support-kAP {
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          align-items: baseline;
          text-align: center;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          display: flex;
          flex-shrink: 0;

          .support-kAP-sub-0 {
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.5;
            color: #727272;
            font-family: Poppins, 'Source Sans Pro';
          }
          .support-kAP-sub-1 {
          }
        }
      }
    }
    .rectangle-24-5rs {
      width: 60.2rem;
      height: 11.5rem;
      background-color: #7372e0;
      flex-shrink: 0;
    }
  }
  .auto-group-faod-Dy5 {
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding-bottom: 0.6rem;
    width: 100%;
    align-items: center;
    display: flex;

    .auto-group-uhl7-yBZ {
      margin: 0rem 14.414rem 5.2rem 0rem;
      width: calc(100% - 14.4136rem);
      height: 65.1rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .auto-group-7kzp-grf {
        margin-right: 20.4rem;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        background-image: url('REPLACE_IMAGE:267:5456');
        flex-shrink: 0;
        padding: 18.9rem 0.9rem 23rem 26.4rem;
        width: 79.5rem;
        height: 100%;
        align-items: flex-end;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        .your-account-has-been-set-up-bCw {
          text-align: center;
          font-size: 2.6rem;
          font-weight: 700;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          margin-bottom: 0.7rem;
          max-width: 29.6rem;
          letter-spacing: 0.026rem;
          flex-shrink: 0;
          width: 100%;
          line-height: 1.399999912;
        }
        .we-have-customized-feeds-according-to-your-preferences-5to {
          margin-bottom: 5rem;
          width: 100%;
          font-size: 1.4rem;
          font-weight: 400;
          flex-shrink: 0;
          max-width: 30.4rem;
          text-align: center;
          line-height: 1.4000000272;
          letter-spacing: 0.014rem;
          color: #6b7280;
          font-family: Inter, 'Source Sans Pro';
        }
        .frame-3-aaf {
          font-size: 2rem;
          font-weight: 400;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          background-color: #2e3192;
          width: 100%;
          flex-shrink: 0;
          border-radius: 0.8rem;
          align-items: center;
          justify-content: center;
          line-height: 1.2125;
          overflow: hidden;
          position: relative;
          text-align: center;
          height: 6.2rem;
        }
      }
      .completed-bro-E9R {
        width: 48.0864rem;
        height: 42.7641rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 3.2rem;
      }
    }
    .bottom-nav-bar-9XH {
      opacity: 0.91;
      box-sizing: border-box;
      width: calc(100% - 40.5rem);
      overflow: hidden;
      position: relative;
      display: flex;
      margin: 0rem 21.4rem 0.6rem 19.1rem;
      padding-right: 3.7rem;
      height: 17rem;
      align-items: flex-start;
      flex-shrink: 0;

      .col-md-2-36s {
        flex-shrink: 0;
        margin-right: 23.6rem;
        height: 100%;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;

        .h5-AxB {
          font-size: 1.6rem;
          letter-spacing: 0.01rem;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 2rem;
          font-weight: 700;
          line-height: 1.5;
          color: #252b42;
        }
        .div-J2o {
          row-gap: 1rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .link-r4K {
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.7142857143;
            letter-spacing: 0.02rem;
            color: #727272;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
          }
          .link-P4F {
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.7142857143;
            letter-spacing: 0.02rem;
            color: #727272;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .link-icK {
            line-height: 1.7142857143;
            letter-spacing: 0.02rem;
            color: #727272;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 700;
          }
          .link-fGf {
            letter-spacing: 0.02rem;
            color: #727272;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.7142857143;
          }
        }
      }
      .col-md-2-PyM {
        overflow: hidden;
        position: relative;
        flex-shrink: 0;
        margin-right: 24.7rem;
        width: 11.2rem;
        height: 100%;

        .h5-vyH {
          white-space: nowrap;
          margin-bottom: 2rem;
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 1.5;
          letter-spacing: 0.01rem;
          color: #252b42;
          font-family: Montserrat, 'Source Sans Pro';
        }
        .div-fR5 {
          width: 100%;
          row-gap: 1rem;
          display: flex;
          flex-direction: column;

          .link-cbD {
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.7142857143;
            letter-spacing: 0.02rem;
            color: #727272;
          }
          .link-95M {
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.7142857143;
            letter-spacing: 0.02rem;
            color: #727272;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .link-5jh {
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.7142857143;
            letter-spacing: 0.02rem;
            color: #727272;
          }
          .link-RoZ {
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.7142857143;
            letter-spacing: 0.02rem;
            color: #727272;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
      .col-md-4-Zes {
        position: relative;
        flex-shrink: 0;
        width: 28.4rem;
        overflow: hidden;

        .h5-7RV {
          margin-bottom: 2rem;
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 1.5;
          letter-spacing: 0.01rem;
          color: #252b42;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
        }
        .div-rP5 {
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;

          .auto-group-dvzr-RBH {
            padding-bottom: 1rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;

            .feature-item-ZYP {
              width: calc(100% - 15rem);
              overflow: hidden;
              position: relative;
              flex-shrink: 0;
              margin: 0rem 15rem 1rem 0rem;
              box-sizing: border-box;
              padding-left: 0.1194rem;
              display: flex;
              align-items: flex-start;

              .bx-bx-phone-gd1 {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 1rem;
                width: 2.2806rem;
                height: 2.2807rem;
              }
              .h6-1vB {
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 700;
                line-height: 1.7142857143;
                letter-spacing: 0.02rem;
                color: #727272;
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
            .feature-item-YfD {
              width: calc(100% - 1.8rem);
              overflow: hidden;
              position: relative;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin-right: 1.8rem;

              .bx-bx-map-gmR {
                height: 2.9999rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0rem 1rem 0rem 0rem;
                width: 2.4rem;
              }
              .h6-1Hu {
                letter-spacing: 0.02rem;
                color: #727272;
                white-space: nowrap;
                font-size: 1.4rem;
                font-weight: 700;
                line-height: 1.7142857143;
                font-family: Montserrat, 'Source Sans Pro';
                flex-shrink: 0;
                margin-bottom: 0rem;
              }
            }
          }
          .feature-item-vfm {
            width: 100%;
            overflow: hidden;
            position: relative;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .carbon-send-alt-t6o {
              height: 2.6rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1rem;
              width: 2.4rem;
            }
            .h6-R6j {
              letter-spacing: 0.02rem;
              color: #727272;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 700;
              line-height: 1.7142857143;
            }
          }
        }
      }
    }
    .contact-us-LzP {
      width: 11.2rem;
      height: 2.4rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-left: 67.4rem;
    }
  }
}
