
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.verify-creaye-accont-D5V {
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;

  .frame-107-LR1 {
    width: 100%;
    height: 11.5rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .rectangle-25-GpT {
      height: 11.5rem;
      background-color: #7372e0;
      flex-shrink: 0;
      width: 12.4rem;
    }
    .auto-group-v5f1-cNX {
      box-sizing: border-box;
      padding: 2.8rem 24.5rem 3.7rem 0rem;
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .educare-3-6-wQo {
        margin-right: 4.649rem;
        width: 17.551rem;
        height: 5rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .frame-105-rnf {
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        margin: 1.3rem 0rem 1.2rem 0rem;
        height: calc(100% - 2.5rem);

        .home-P1u {
          text-align: center;
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          margin: 0.1rem 2.6rem 0rem 0rem;
          color: #727272;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .download-H7H {
          text-align: center;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 2.4rem;
          font-size: 1.6rem;
          font-weight: 500;
          color: #727272;
          white-space: nowrap;
        }
        .support-obR {
          flex-shrink: 0;
          font-weight: 500;
          font-family: Poppins, 'Source Sans Pro';
          align-items: baseline;
          color: #000000;
          white-space: nowrap;
          display: flex;
          text-align: center;
          font-size: 1.6rem;
          line-height: 1.5;

          .support-obR-sub-0 {
            font-weight: 500;
            line-height: 1.5;
            color: #727272;
            font-family: Poppins, 'Source Sans Pro';
            font-size: 1.6rem;
          }
          .support-obR-sub-1 {
          }
        }
      }
    }
    .rectangle-24-Xvj {
      width: 60.2rem;
      height: 11.5rem;
      background-color: #7372e0;
      flex-shrink: 0;
    }
  }
  .auto-group-fbcw-ULB {
    box-sizing: border-box;
    padding-bottom: 0.6rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-c5tf-odM {
      width: calc(100% - 8rem);
      height: 65.1rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 8rem 5.2rem 0rem;

      .auto-group-ikju-j1D {
        width: 79.5rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        background-image: url('REPLACE_IMAGE:267:4896');
        box-sizing: border-box;
        padding: 3.2rem 0.9rem 33rem 26.15rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        flex-shrink: 0;
        margin-right: 14.9rem;
        height: 100%;

        .verify-your-email-pYT {
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 700;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 32.05rem 1.5rem 0rem;
          text-align: center;
          line-height: 1.2125;
          color: #000000;
        }
        .you-will-receive-an-email-Xhm {
          line-height: 1.2125;
          color: #6f6f6f;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 32.25rem 3.4rem 0rem;
          text-align: center;
          white-space: nowrap;
          font-size: 1.4rem;
          font-weight: 400;
        }
        .group-56-SZq {
          flex-shrink: 0;
          margin: 0rem 8.1rem 3.2rem 8.35rem;
          width: calc(100% - 16.45rem);
          height: 5rem;
          display: flex;
          column-gap: 1.2rem;
          align-items: center;

          .frame-4-9UF {
            position: relative;
            border: solid 0.1rem #cccaca;
            box-sizing: border-box;
            background-color: #ffffff;
            flex-shrink: 0;
            width: 5rem;
            height: 100%;
            overflow: hidden;
          }
          .frame-5-UmR {
            box-sizing: border-box;
            background-color: #ffffff;
            flex-shrink: 0;
            width: 5rem;
            height: 100%;
            overflow: hidden;
            position: relative;
            border: solid 0.1rem #cccaca;
          }
          .frame-6-d8X {
            position: relative;
            border: solid 0.1rem #cccaca;
            box-sizing: border-box;
            background-color: #ffffff;
            flex-shrink: 0;
            width: 5rem;
            height: 100%;
            overflow: hidden;
          }
          .frame-7-a3m {
            position: relative;
            border: solid 0.1rem #cccaca;
            box-sizing: border-box;
            background-color: #ffffff;
            flex-shrink: 0;
            width: 5rem;
            height: 100%;
            overflow: hidden;
          }
          .frame-8-i9y {
            position: relative;
            border: solid 0.1rem #cccaca;
            box-sizing: border-box;
            background-color: #ffffff;
            flex-shrink: 0;
            width: 5rem;
            height: 100%;
            overflow: hidden;
          }
          .frame-9-rX5 {
            height: 100%;
            overflow: hidden;
            position: relative;
            border: solid 0.1rem #cccaca;
            box-sizing: border-box;
            background-color: #ffffff;
            flex-shrink: 0;
            width: 5rem;
          }
        }
        .group-14-zdH {
          margin: 0rem 0rem 3.2rem 0.25rem;
          width: 52.2rem;
          height: 6.2rem;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          border-radius: 0.8rem;
          flex-shrink: 0;

          .group-9-KvT {
            font-weight: 400;
            white-space: nowrap;
            background-color: #2e3192;
            border-radius: 0.9rem;
            height: 100%;
            font-size: 2rem;
            width: 100%;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            display: flex;
            box-shadow: 0 0.4rem 6.1rem rgba(77, 71, 195, 0.400000006);
            align-items: center;
            justify-content: center;
          }
        }
        .resend-code-00-45-T9V {
          display: flex;
          align-items: baseline;
          flex-shrink: 0;
          text-align: center;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          margin-left: 0.15rem;
          font-size: 1.4rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;

          .resend-code-00-45-T9V-sub-0 {
          }
          .resend-code-00-45-T9V-sub-1 {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #1d44aa;
            font-family: Inter, 'Source Sans Pro';
          }
        }
      }
      .authentication-cuate-nqy {
        margin-top: 3.2rem;
        width: 60rem;
        height: 44.4rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .bottom-nav-bar-JpK {
      margin: 0rem 21.4rem 0.6rem 19.1rem;
      opacity: 0.91;
      box-sizing: border-box;
      padding-right: 3.7rem;
      overflow: hidden;
      align-items: flex-start;
      flex-shrink: 0;
      width: calc(100% - 40.5rem);
      height: 17rem;
      position: relative;
      display: flex;

      .col-md-2-Pas {
        height: 100%;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 23.6rem;

        .h5-94F {
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 2rem;
          font-weight: 700;
          letter-spacing: 0.01rem;
          color: #252b42;
          flex-shrink: 0;
          font-size: 1.6rem;
          line-height: 1.5;
        }
        .div-T4w {
          flex-direction: column;
          flex-shrink: 0;
          row-gap: 1rem;
          display: flex;

          .link-16T {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.7142857143;
            letter-spacing: 0.02rem;
            color: #727272;
            font-family: Montserrat, 'Source Sans Pro';
          }
          .link-8B5 {
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.7142857143;
            letter-spacing: 0.02rem;
            color: #727272;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .link-TUF {
            font-weight: 700;
            line-height: 1.7142857143;
            letter-spacing: 0.02rem;
            color: #727272;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
          }
          .link-bqM {
            line-height: 1.7142857143;
            letter-spacing: 0.02rem;
            color: #727272;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 700;
          }
        }
      }
      .col-md-2-YEo {
        margin-right: 24.7rem;
        width: 11.2rem;
        height: 100%;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;

        .h5-5Ej {
          font-weight: 700;
          line-height: 1.5;
          letter-spacing: 0.01rem;
          color: #252b42;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 2rem;
          font-size: 1.6rem;
        }
        .div-18P {
          row-gap: 1rem;
          display: flex;
          flex-direction: column;
          width: 100%;

          .link-Z9u {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.7142857143;
            letter-spacing: 0.02rem;
            color: #727272;
            font-family: Montserrat, 'Source Sans Pro';
          }
          .link-J7V {
            letter-spacing: 0.02rem;
            color: #727272;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.7142857143;
          }
          .link-3Ky {
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.7142857143;
            letter-spacing: 0.02rem;
            color: #727272;
          }
          .link-P8w {
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.7142857143;
            letter-spacing: 0.02rem;
            color: #727272;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
      .col-md-4-iS7 {
        position: relative;
        flex-shrink: 0;
        width: 28.4rem;
        overflow: hidden;

        .h5-Fgw {
          white-space: nowrap;
          margin-bottom: 2rem;
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 1.5;
          letter-spacing: 0.01rem;
          color: #252b42;
          font-family: Montserrat, 'Source Sans Pro';
        }
        .div-Mzs {
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;

          .auto-group-vhoh-JfD {
            padding-bottom: 1rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;

            .feature-item-q9M {
              overflow: hidden;
              position: relative;
              align-items: flex-start;
              margin: 0rem 15rem 1rem 0rem;
              padding-left: 0.1194rem;
              width: calc(100% - 15rem);
              display: flex;
              flex-shrink: 0;
              box-sizing: border-box;

              .bx-bx-phone-Lro {
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 1rem;
                width: 2.2806rem;
                height: 2.2807rem;
                object-fit: contain;
              }
              .h6-5Jb {
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 700;
                line-height: 1.7142857143;
                letter-spacing: 0.02rem;
                color: #727272;
              }
            }
            .feature-item-bXq {
              margin-right: 1.8rem;
              width: calc(100% - 1.8rem);
              overflow: hidden;
              position: relative;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .bx-bx-map-LVR {
                flex-shrink: 0;
                margin: 0rem 1rem 0rem 0rem;
                width: 2.4rem;
                height: 2.9999rem;
                object-fit: contain;
                vertical-align: top;
              }
              .h6-G8B {
                font-weight: 700;
                letter-spacing: 0.02rem;
                color: #727272;
                font-family: Montserrat, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0rem;
                font-size: 1.4rem;
                line-height: 1.7142857143;
              }
            }
          }
          .feature-item-Pib {
            align-items: center;
            flex-shrink: 0;
            width: 100%;
            overflow: hidden;
            position: relative;
            display: flex;

            .carbon-send-alt-jGf {
              height: 2.6rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1rem;
              width: 2.4rem;
            }
            .h6-fAK {
              color: #727272;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.4rem;
              font-weight: 700;
              line-height: 1.7142857143;
              letter-spacing: 0.02rem;
            }
          }
        }
      }
    }
    .contact-us-BPZ {
      height: 2.4rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-left: 67.4rem;
      width: 11.2rem;
    }
  }
}
